<html>
<head>
    <title>Stop Map</title>
    <link rel="stylesheet" href="../static/stop_map.css"/>
    <link href="https://api.mapbox.com/mapbox-gl-js/v3.14.0/mapbox-gl.css" rel="stylesheet">
    <script src="https://api.mapbox.com/mapbox-gl-js/v3.14.0/mapbox-gl.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
    <div id="leftSidePanel">
        <div id="searchSection">
            <a href="https://app.pulsetic.com/status/5e9TnbTi/" target="_blank" class="status">Service Status</a>
            <div class="searchWrapper">
                <input id="stopSearchInput" type="text" placeholder="Search stop name...">
                <button id = "searchStopButton">Search</button>
            </div>
        </div>
        <div id="sidebar">
            <div id = "sidebarContent"></div>
            <!-- <button id="sidebarClose" aria-label="Close">
                &times;
            </button> -->
        </div>
    </div>
    <div id="map" tabindex="0"></div>
    <script src="../static/load_stops.js"></script>
</body>
</html>
