@font-face {
    font-family: MetropolisRegular;
    src: url(/static/Metropolis-Regular.ttf);
}

#map 
    {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 100%;
    }


#leftSidePanel
    {
        position: absolute;
        top:10px;
        left:10px;
        width: 40vw;
        max-height: calc(100% - 20px);
        z-index:1000;
        display: flex;
        flex-direction: column;
        font-family: MetropolisRegular;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0,0,0,0.2)
    }

#searchSection
    {
        background-color: rgb(255, 254, 239);
        padding: 15px;
        border-radius: 8px;
        border: 1px solid rgb(255, 254, 239);;
    }

#searchStopButton:hover 
    {
        background: #8768cf;
    }

#sidebar
    {
        flex-grow: 1;
        display: none;
        background: rgb(255, 254, 239);;
        margin-top: 10px;
        border-radius: 8px;
        padding: 20px;
        max-height: calc(100vh - 120px);
        overflow-y: auto;
        border: 1px solid white;
        box-shadow: 0 2px 4px rgba(0,0,0,0.2)
    }

.searchWrapper
    {
        display: flex;
        gap: 8px;
        margin-top: 10px;
    }



#vehicleSearchInput 
    {
        flex-grow: 1;
        padding: 8px;
        border: 1px solid #ddd;
        border-radius: 4px;
    }

#searchStopButton 
    {
        padding: 8px 16px;
        background: #a781ff;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

.status 
    {
        display: inline-block;
        padding: 4px;
        font-size: 0.9em;
        margin-bottom: 8px;
        text-decoration: none;
        background-color: #6a44c4;
        border-radius: 4px;
        color: whitesmoke;
    }

.status:hover 
    {
        background-color: #a044c4;
        color: whitesmoke;
        box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    }

.selectFieldset
    {
        display: inline-block;
        width: 40%vw;
        font-size: 0.9em;
        margin-bottom: 8px;
        text-decoration: none;
        border: 0;
        border-radius: 4px;
        padding: 2px;
        color: whitesmoke;
        background-color: #a044c4;
    }

.stopComparison 
    {
        margin-bottom: 20px;
        padding: 15px;
        background: #f8f9fa;
        border-radius: 8px;
    }

.comparisonTitle 
    {
        font-size: 1.2em;
        font-weight: bold;
        margin-bottom: 5px;
        color: #333;
    }

.timeColumns 
    {
        display: flex;
        gap: 20px;
    }

.timeColumn 
    {
        flex: 1;
    }

.columnTitle 
    {
        font-weight: bold;
        margin-bottom: 10px;
        padding-bottom: 5px;
        border-bottom: 2px solid #ad60cc;
    }

.timeEntry 
    {
        display:flex;
        justify-content: space-between;
        margin-bottom:12px;
        padding: 8px 0;
        border-bottom: 1px solid #bdbdbd;
    }

.timeEntry-left
    {
        display: flex;
        flex-direction: column;
        gap:4px;
    }

.route
    {
        font-weight: bold;
        font-size: 1.1em;
    }

.destination
    {
        font-size: 0.85em;
    }

.time
    {   
        padding: 5px;
        font-weight: bold;
        background: var(--stop-color);
    }

.loading 
    {
        text-align: center;
        padding: 20px;
        color: #666;
    }

.updateTime 
    {
        font-size: 0.8em;
        color: #777;
        text-align: left;
        margin-top: 5px;
        margin-bottom: 10px;
        font-style: italic;
    }

#openStreetView
    {
        display: inline-block;
        margin-bottom: 5px;
        font-size: 0.9em;
    }

.distruptions
    {
        margin-bottom: 5px;
    }

.header
    {
        font-size:0.9em;
        color: black;
    }

.activePeriod
    {
        font-size: 0.85em;
        color: #777;
        margin-bottom: 10px;
        font-style: italic;
    }

.countdown-bar 
    {
        width: 100%;
        height: 2px;
        background-color: #afafaf;
        position: relative;
        margin-top: 10px;
    }

.countdown-bar .progress 
    {
        height: 100%;
        background-color: #03f0e4;
        width: 100%;
        transform-origin: left;
        animation: countdown 11s linear infinite;
    }

@keyframes countdown 
    {
        from {
            transform: scaleX(1);
        }
        to {
            transform: scaleX(0);
        }
    }